.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 80%;
    align-items: center;
  }
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
  }
  .home .image {
    flex: 1;
    z-index: 1;
  }
  .home .image img {
    width: 70%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .home .content h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #002057;
  }
  .home .content h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: #ff7b00;
  }

  .home .content p span {
    font-size: 2.5rem;
    color: rgb(148, 8, 8);
    font-weight: 800;
    padding: 1rem 0;
  }
  /******************************/
   
  /* hero media queries starts*/
  @media (max-width: 450px)
   {
    .home .content h2 {
        padding-top: 150px;
  }
    .home .image img {
      margin-top: -1rem;
    }
    .home .content p {
      font-size: 2.2rem;
    }
    .home .content p span {
      font-size: 2.2rem;
    }
}

  /****************************/
